*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    position: absolute;

}

.child{
    position: absolute;

}
.main{
    position: relative;
  
}
.close{
    &:hover{
        background-color:gray;
    }
}
// Main Backgroung Image Styling...
.background-image{
 width: 100%;
 height: 100vh;
 background-image: url('./images/windowss.jpg');
 background-size: cover;
 margin: auto;
 position: relative;
}

//styling footer
.bottom{
  width: 100%;
  height: 7vh;
  background-color: rgb(225, 211, 211);
  position: fixed;
  bottom: 0;
  border: 3px solid white;
}

//styling footer start button section
.bottom--start--icon{
  display: flex;

  width:100px;
  padding:2px;
  text-align: center;
  align-content: center;
  cursor: pointer;

}

//styling start icon image
.bottom--start--icon__image{
    width: 35px;
    height: 35px;
    padding:3px;
  
}
.bottom--start--icon__text{
   font-size: 18px;
   font-weight: 500;
   font-weight: bold;
   margin-top: 4px;
}


//styling menu
.menu{
    width:180px;
    height:410px;
    background-color: rgb(235, 229, 229);
    border-left: 2px solid white;
    cursor: pointer;
    border-top: 2px solid white;;
    display: flex;
    padding: 2px;
    padding-top: 10px;
    bottom: 0;
    position: fixed;
    display: none;
}
.show{
    display: block;
}
.hide{
    display: none;
}

//styling blue 
.menu-bar-side{
    width:20px;
    height:96%;
    background-color: blue;
    position: absolute;
    
}
.iconPlusNames{
    display: flex;
    flex-direction: column;

    position: absolute;
    margin-left: 20px;
}
.iconWithNames{
    display: flex;
    align-items: center;
    gap:10px;
    cursor: pointer;

    img{
     
        width:35px;
        height: 35px;
        padding:4px;
     
    }
    p{
        text-align: center;
        font-size: 14px;
        font-weight:500;
    }
}
.iconWithNames:hover{
    p{
        color:blue;
    }
}
.text{
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.secondMenu{
    display: flex;
    align-items: left;
    padding:10px;
    border: 1px solid grey;
    p{
        margin:4px;
        color:rgb(100, 96, 96);
    }
}
.titleDescription{
 
    border:1px solid gray;
    margin:30px;
    padding: 30px;
}
span{
    margin: 10px;
    cursor: pointer;
    color: white;
}
.modal{
    width: 700px;
    height: 400px;
    //background-color:rgba(192,192,192,255); 
    background-color: rgb(229, 226, 226);
    display: none; 
    position:absolute;
    align-self:center;
    top:20%;
    left:30%;
}
.showTime{
    margin-right: 10px;
    font-size: 18px;
}